/*page*/
body {
	background: url("../image/background.jpg");
    background-repeat: no-repeat;
	position: fixed;
	height: 100%;
	width: 100%;
}
#container {
	height: 100%;
	width: 100%;
}
/*end page*/
/*inlogpagina*/
#convenience {
	margin: 18% auto auto 45%;
}

img {
	margin: 7% auto auto 36%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
	border: 1px #2D2D2D solid;
}

#versturen {
	position: relative;
	text-align: center;
	top: 3%;
	float: left;
	clear: left;
	width: 200px;
	padding: 1%;
	margin: 1%
}

#naam {
	position: relative;
	text-align: center;
	top: 3%;
	float: left;
	clear: left;
	width: 200px;
	padding: 1%;
}
/*end inlogpagina*/
/*dropdown buttons*/
.dropbutton
{
	background-color: #868686;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown
{
    position: relative;
    display: block;
}

.dropdown-content
{
	background-color: #E1E1E1;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a:hover
{
	background-color: #660000;
	color: white;
    
}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content
{
    display: inline-block;
	z-index: 5;
}
/*end dropdown buttons*/
/*progress bar*/
#bar {
	width: 0px;
	max-width: 100.1%;
	height: 100%;
	position: absolute;
	background-color: /*#4A4849*/ #660000;
	border-radius: 6px;
	z-index: 1;
}

#progress_container {
	margin-top: 50px;
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #A3A2A0;
	border: solid black 3px;
	border-radius: 10px;
}
/*end progress bar*/
/*work in progress underneath here*/
/*sommen page holder*/
#page {
	width: 50%;
	height: 90%;
	margin-left: 25%;
}
/*end sommen page holder*/
/*som area*/
#som_area {
	/*background-color: red;*/
	width: 100%;
	height: 35%;
	text-align: center;
}

#sommen {
	padding-top: 8%;
	font-size: 1000%;
	margin: 0px;
}
/*end som area*/
/*answer area*/
#Input_vak {
	/*background-color: blue;*/
	margin-top: 15%;
	text-align: center;
}

#User_antwoord{
	width: 70%;
	height: 130px;
	font-size: 90px;
	text-family: bubblegum-sans;
	text-align: center;
	border: solid #660000 5px;
	border-radius: 25px;
}
/*end answer area*/
/*feedback_area*/
#feedback_area {
	color: white;
	height: 25px;
	float: left;
	margin-left: 75%;
	margin-top: -15%;
	position: fixed;
}

#feedback_container {
	width: 70%;
	height: 130px;
	background-color: #FFFFFF;
	font-size: 90px;
	text-family: bubblegum-sans;
	text-align: center;
	border: solid #660000 5px;
	border-radius: 25px;
}
/*feedback_area*/