.dropbutton
{
	background-color: grey;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
	background-color: lightgrey;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content
{
    display: inline-block;
	z-index: 5;
}

#label {
	text-align: center;
	line-height: 30px;
	color: black;
}

#Progress {
	margin: 0px 40% 0px 40%;
	position: relative;
	width: 20%;
	height: 30px;
	background-color: lightgrey;
}

#Bar {
	position: absolute;
	width: 5%;
	height: 100%;
	background-color: darkgrey;
}